//
//  Uat.xcconfig
//  SamplesApp
//
//  Created by Renjun Li on 2022/11/26.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-SamplesApp/Pods-SamplesApp.uat.xcconfig"

BASE_URL = Uat_BABSE

PRODUCTBUNDLEIDENTIFIER = com.renjun.photo
CODESIGNIDENTITY = iPhone Distribution: Xiaoyan Yang (Z7CS86CU9Z)
DEVELOPMENT_TEAM = Xiaoyan Yang
PROVISIONINGPROFILESPECIFIER = adhoc
